<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8257E5">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins&amp;display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/page-header.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/give-classes.css">
</head>

<body id="page-teacher-form">
    <div id="container">

        <header class="page-header">
            <div class="top-bar-container">
                <a href="/"><img src="/images/icons/back.svg" alt="Voltar"></a><img src="/images/logo.svg" alt="Proffy"></div>
            <div class="header-content"><strong>Que incrível que você quer dar aulas.</strong>
                <p>O primeiro passo, é preencher esse formulário de inscrição.</p>
            </div>
        </header>
        <main>
            <fieldset>
                <legend>Seus dados</legend>
                <div class="input-block"><label for="name">Nome completo</label><input name="name" id="name"></div>
                <div class="input-block"><label for="avatar">Link da sua foto</label><input name="avatar" id="avatar"></div>
                <div class="input-block"><label for="whatsapp">Whatsapp</label><input name="whatsapp" id="whatsapp"></div>
                <div class="textarea-block"><label for="whatsapp">Whatsapp</label><textarea name="whatsapp" id="whatsapp"></textarea></div>
            </fieldset>
            <fieldset>
                <legend>Sobre a aula</legend>
                <div class="input-block"><label for="subject">Matéria</label><input name="subject" id="subject"></div>
                <div class="input-block"><label for="cost">Custo da sua hora/aula</label><input name="cost" id="cost"></div>
            </fieldset>
            <fieldset>
                <legend>Horários disponíveis<button type="button">+ Novo horário</button></legend>
                <div class="schedule-item">
                    <div class="input-block"><label for="weekday">Dia da semana</label><input name="weekday" id="weekday" value=""></div>
                    <div class="input-block"><label for="time_from">Das</label><input name="time_from" id="time_from" value=""></div>
                    <div class="input-block"><label for="time_to">Até</label><input name="time_to" id="time_to" value=""></div>
                </div>

            </fieldset>
            <footer>
                <p><img src="/images/icons/warning.svg" alt="Aviso importante">Importante! <br>Preencha todos os dados</p><button type="button">Salvar cadastro</button></footer>
        </main>
    </div>
</body>

</html>