{% extends "layout.njk" %}

{% set pageId = "page-give-classes" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">
    <script src="/scripts/addField.js" defer></script>
    <script src="/scripts/changeInvalidMessage.js" defer></script>
{% endblock %}

{% block content %}
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/"><img src="/images/icons/back.svg" alt="Voltar"></a><img src="/images/logo.svg" alt="Proffy"></div>
        <div class="header-content">
            <strong>Que incrível que você quer dar aulas.</strong>
            <p>O primeiro passo, é preencher esse formulário de inscrição.</p>
        </div>
    </header>
    <main>
        <form method="POST" id="create-class" action="/give-classes">
            <fieldset>
                <legend>Seus dados</legend>
                <div class="input-block">
                    <label for="name">Nome completo</label>
                    <input name="name" id="name" required>
                </div>
                <div class="input-block">
                    <label for="avatar">Link da sua foto <small>(comece com https://)</small></label>
                    <input name="avatar" id="avatar" type="url" required>
                </div>
                <div class="input-block">
                    <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                    <input name="whatsapp" id="whatsapp" type="number" required>
                </div>
                <div class="textarea-block">
                    <label for="bio">Biografia</label>
                    <textarea name="bio" id="bio" required></textarea>
                </div>
            </fieldset>
            <fieldset>
                <legend>Sobre a aula</legend>
                <div class="select-block">
                    <label for="subject">Matéria</label>
                    <select name="subject" id="subject" required>
                        <option value="">Selecione uma opção</option>
                        {%for subject in subjects %}
                            <option value="{{loop.index}}">{{subject}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="input-block">
                    <label for="cost">Custo da sua hora/aula <small>(R$)</small></label>
                    <input name="cost" id="cost" type="number" required>
                </div>
            </fieldset>
            <fieldset id="schedule-items">
                <legend>Horários disponíveis<button type="button" id="add-time">+ Novo horário</button>
                </legend>
                <div class="schedule-item">
                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday[]" id="weekday" required>
                            <option value="">Selecione uma opção</option>
                            <option value="0">Domingo</option>
                            <option value="1">Segunda-feira</option>
                            <option value="2">Terça-feira</option>
                            <option value="3">Quarta-feira</option>
                            <option value="4">Quinta-feira</option>
                            <option value="5">Sexta-feira</option>
                            <option value="6">Sábado</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time_from">Das</label>
                        <input 
                            name="time_from[]" 
                            id="time_from" 
                            type="time" 
                            Required>
                        </div>
                    <div class="input-block">
                        <label for="time_to">Até</label>
                        <input 
                            name="time_to[]" 
                            id="time_to" 
                            type="time" 
                            required>
                        </div>
                </div>

            </fieldset>
        </form>
        <footer>
            <p><img src="/images/icons/warning.svg" alt="Aviso importante">Importante!
                <br>Preencha todos os dados</p>
            <button type="submit" form="create-class">Salvar cadastro</button>
        </footer>
    </main>

{% endblock %}