{% extends "layout.njk" %}

{% set pageId = "page-landing" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
{% endblock %}


{% block content%}
    <div class="logo-container">
        <img src="/images/logo.svg" alt="Proffy">
        <h2>Sua plataforma de estudos online.</h2>
    </div>

    <img class="hero-image" src="/images/landing.svg" alt="Plataforma de estudos">

    <div class="buttons-container">
        <a class="study" href="/study">
            <img src="/images/icons/study.svg" alt="Estudar">Estudar</a>
        <a class="give-classes" href="/give-classes">
            <img src="/images/icons/give-classes.svg" alt="Dar aulas">Dar aulas</a>
    </div>

    <p class="total-connections">Total de 200 conexões já realizadas
        <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
    </p>
{% endblock %}