{% extends "layout.njk" %}

{% set pageId = "page-study" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-study.css">

    <script src="/scripts/searchTeacher.js" defer></script>
{% endblock %}

{% block content %}
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/"><img src="/images/icons/back.svg" alt="Voltar"></a><img src="/images/logo.svg" alt="Proffy"></div>
        <div class="header-content">
            <strong>Esses são os proffys disponíveis.</strong>
            <form id="search-teachers" action="/study">
                <div class="select-block">
                    <label for="subject">Matéria</label>
                    <select name="subject" id="subject">
                        <option value="" disabled="" hidden="">Selecione uma opção</option>
                        {% for subject in subjects %}
                            <option 
                                value="{{loop.index}}" 
                                {{ "selected" if filter.weekday == "{{loop.index}}" }}>
                                    {{subject}}
                                </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="select-block">
                    <label for="weekday">Dia da semana</label>
                    <select name="weekday" id="weekday">
                        <option value="" disabled="" hidden="">Selecione uma opção</option>
                        <option value="0" {{ "selected" if filter.weekday == "0" }}>Domingo</option>
                        <option value="1" {{ "selected" if filter.weekday == "1" }}>Segunda-feira</option>
                        <option value="2" {{ "selected" if filter.weekday == "2" }}>Terça-feira</option>
                        <option value="3" {{ "selected" if filter.weekday == "3" }}>Quarta-feira</option>
                        <option value="4" {{ "selected" if filter.weekday == "4" }}>Quinta-feira</option>
                        <option value="5" {{ "selected" if filter.weekday == "5" }}>Sexta-feira</option>
                        <option value="6" {{ "selected" if filter.weekday == "6" }}>Sábado</option>
                    </select>
                </div>
                <div class="input-block">
                    <label for="time">Hora</label>
                    <input name="time" id="time" type="time" value={{filter.time}}>
                </div>

                <button type="submit">Filtrar</button>

            </form>
        </div>
    </header>

    <main>
        {% if teachers == "" %}
            <p class="no-results">Nenhum professor encontrado com sua pesquisa.</p>
        {%else%}
            {% for teacher in teachers %}
                <article class="teacher-item">
                    <header><img src="{{teacher.avatar}}" alt="{{teacher.name}}">
                        <div>
                            <strong>{{teacher.name}}</strong>
                            <span>{{teacher.subject}}</span></div>
                    </header>
                    <p>{{teacher.bio}}</p>
                    <footer>
                        <p>Preço/hora<strong>R$ {{teacher.cost}}</strong>
                        </p>
                        <a href="https://api.whatsapp.com/send?l=pt_BR&phone=55{{teacher.whatsapp}}&text=Tenho interesse na sua aula de {{teacher.subject}} {{teacher.name}}" class="button" target="_blank">
                            <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato
                        </a>
                    </footer>
                </article>
            {% endfor %}
        {% endif %}

    </main>
{% endblock %}