{% extends "layout.njk" %}

{% set pageId = "page-study" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/page-header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/pages/study.css">
{% endblock %}

{% block content %}
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/"><img src="/images/icons/back.svg" alt="Voltar"></a><img src="/images/logo.svg" alt="Proffy"></div>
        <div class="header-content">
            <strong>Esses são os proffys disponíveis.</strong>
            <form id="search-teachers">
                <div class="select-block">
                    <label for="subject">Matéria</label>
                    <select name="subject" id="subject">
                        <option value="" disabled="" hidden="">Selecione uma opção</option>
                        <option value="1">Artes</option>
                        <option value="2">Biologia</option>
                        <option value="3">Ciências</option>
                        <option value="4">Educação física</option>
                        <option value="5">Física</option>
                        <option value="6">Geografia</option>
                        <option value="7">História</option>
                        <option value="8">Matemática</option>
                        <option value="9">Português</option>
                        <option value="10">Química</option>
                    </select>
                </div>
                <div class="select-block">
                    <label for="weekday">Dia da semana</label>
                    <select name="weekday" id="weekday">
                        <option value="" disabled="" hidden="">Selecione uma opção</option>
                        <option value="0">Domingo</option>
                        <option value="1">Segunda-feira</option>
                        <option value="2">Terça-feira</option>
                        <option value="3">Quarta-feira</option>
                        <option value="4">Quinta-feira</option>
                        <option value="5">Sexta-feira</option>
                        <option value="6">Sábado</option>
                    </select>
                </div>
                <div class="input-block">
                    <label for="time">Hora (De 0 até 24)</label>
                    <input name="time" id="time" type="number" min="0" max="24"></div>
            </form>
        </div>
    </header>

    <main>
        <article class="teacher-item">
            <header><img src="https://avatars2.githubusercontent.com/u/2254731?s=460&amp;u=0ba16a79456c2f250e7579cb388fa18c5c2d7d65&amp;v=4" alt="Diego Fernandes">
                <div>
                    <strong>Diego Fernandes</strong>
                    <span>Química</span></div>
            </header>
            <p>Entusiasta das melhores tecnologias de química avançada.<br><br>Apaixonado por explodir coisas em laboratório e por mudar a vida das pessoas através de experiências. Mais de 200.000 pessoas já passaram por uma das minhas explosões.</p>
            <footer>
                <p>Preço/hora<strong>R$ 20,00</strong>
                </p>
                <button type="button"><img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato</button>
            </footer>
        </article>
        <article class="teacher-item">
            <header><img src="https://avatars2.githubusercontent.com/u/2254731?s=460&amp;u=0ba16a79456c2f250e7579cb388fa18c5c2d7d65&amp;v=4" alt="Diego Fernandes">
                <div>
                    <strong>Diego Fernandes</strong>
                    <span>Química</span></div>
            </header>
            <p>Entusiasta das melhores tecnologias de química avançada.<br><br>Apaixonado por explodir coisas em laboratório e por mudar a vida das pessoas através de experiências. Mais de 200.000 pessoas já passaram por uma das minhas explosões.</p>
            <footer>
                <p>Preço/hora<strong>R$ 20,00</strong>
                </p>
                <button type="button"><img src="/images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato</button>
            </footer>
        </article>
    </main>
{% endblock %}