<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">


    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <img src="/images/logo.svg" alt="Proffy">
            <h2>Sua plataforma e estudos online</h2>
        </div>

        <img class="hero-image" src="/images/landing.svg" alt="Plataforma de Estudos">
    
    
        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="/images/icons/study.svg" alt="Estudar">
                Estudar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="/images/icons/give-classes.svg" alt="Dar aulas">
                Dar aulas
            </a>
        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>
    
</body>
</html>