<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8257E5">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins&amp;display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="/styles/main.css">
    {% block head %} {% endblock %}
</head>

<body id="{{ pageId }}">
    <div id="container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>