.input-block {
    position: relative;
}

.input-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

.textarea-block {
    position: relative;
}

.textarea-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.textarea-block textarea {
    width: 100%;
    height: 16rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    resize: vertical;
    padding: 1.2rem 1.6rem;
    font: 1.6rem Archivo;
}

.textarea-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

.select-block {
    position: relative;
}

.select-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.select-block select {
    width: 100%;
    height: 5.6rem;
    margin-top: .8rem;
    border-radius: .8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;

    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.select-block select:invalid {
    color: #999;
}

label small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: var(--color-small-info);
}