#page-landing {
    background: var(--color-primary);
}

.logo-container img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);
}

.buttons-container a:nth-of-type(2) {
    margin-right: 0;
}

.buttons-container a img {
    width: 4rem;
}

.buttons-container a.study {
    background: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
    background: var(--color-secundary);
}

.buttons-container a.study:hover {
    background: var(--color-primary-light);
}

.buttons-container a.give-classes:hover {
    background: var(--color-secundary-dark);
}

.buttons-container a img {
    margin-right: 2.4rem;
}

.total-connections {
    font-size: 1.8rem;
}

.total-connections {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

@media (min-width: 700px) {
     :root {
        font-size: 62.5%;
    }
}

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-areas: "proffy image image" "buttons buttons texting";
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        gap: 60px;
    }
    .logo-container {
        grid-area: proffy;
        align-self: center;
        margin: 0;
    }
    .logo-container h2 {
        text-align: initial;
    }
    .logo-container img {
        height: 100%;
    }
    .hero-image {
        grid-area: image;
        justify-self: end;
    }
    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }
    .total-connections {
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }
}